:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-background {
  min-height: 100vh;
  background: url('../../../../../assets/images/JORNADA_SALUD.svg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
